.frame {
    border: 1px solid black;
    height: 650px;
    width:500px;
    margin: auto;
}
#results{
    position: absolute;
    border: 1px solid black;
    height: 100px;
    width: 450px;
    top: 5%;
    left: 17%;
}
.button-container {
    position: absolute;
    width: 450px;
    height: 450px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    top: 175px;
    left: 17%;
    display: inline-block
}

.numbers {
    
    height: 100px;
}

.equals {
    display: block
}